<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <article class="feature grid grid--1x2">
        <div class="feature__content">
            <h2>Enjoy on your TV.</h2>
            <p>Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.</p>
        </div>
        <img src="./images/feature1.png" alt="">
    </article>
    <div class="gray-line"></div>
    <article class="feature grid grid--1x2">
        <div class="feature__content">
            <h2>Enjoy on your TV.</h2>
            <p>Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.</p>
        </div>
        <img src="./images/feature2.png" alt="">
    </article>
    <div class="gray-line"></div>
    <article class="feature grid grid--1x2">
        <div class="feature__content">
            <h2>Enjoy on your TV.</h2>
            <p>Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.</p>
        </div>
        <img src="./images/feature3.png" alt="">
    </article>
    <div class="gray-line"></div>
    <article class="feature grid grid--1x2">
        <div class="feature__content">
            <h2>Enjoy on your TV.</h2>
            <p>Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.</p>
        </div>
        <img src="./images/feature4.png" alt="">
    </article>
</body>
</html>