<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Document</title>
</head>
<body>
    <div class="slide grid grid--1x5">
        <img src="../images/MoviePoster (1).png" alt="">
        <img src="../images/MoviePoster (2).png" alt="">
        <img src="../images/MoviePoster (3).png" alt="">
        <img src="../images/MoviePoster (4).png" alt="">
        <img src="../images/MoviePoster (5).png" alt="">

    </div>
</body>
</html>